/* Root Variables */
:root {
  --font-main: 'Poppins', sans-serif;
  --color-primary: #15a1ed;
  --color-light: #fff;
  --color-border: #aaa;
  --spacing: 1rem;
  --radius: 5px;
  --font-large: 4.5rem;
  --font-medium: 3rem;
  --font-small: 1.2rem;
}

/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.song,
.container,
.text-box span,
.eight svg {
  visibility: hidden;
}

/* Container */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

/* Typography */
.one { font-size: var(--font-large); }
.two { font-size: var(--font-small); font-weight: lighter; }
.three { font-size: var(--font-medium); }

.four .text-box {
  border: 3px solid var(--color-border);
  border-radius: var(--radius);
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: var(--color-light);
  text-align: left;
}

.text-box p { margin: 0; }

.text-box .fake-btn {
  position: absolute;
  bottom: -50px;
  right: 5px;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
}

/* Five */
.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 5px;
}

.idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

/* Image Section */
.six {
  position: relative;
  top: 10vh;
  z-index: 1;
}

.six img {
  height: 350px;
  max-width: 100%;
}

.six .hat {
  position: absolute;
  top: -35%;
  left: 41.5%;
  width: 80px;
}

/* Baloons */
.baloons img {
  position: absolute;
  display: inline-block;
}

.baloons img:nth-child(even) { left: -10%; }
.baloons img:nth-child(odd) { right: -10%; }
.baloons img:nth-child(3n+0) { left: 30%; }

/* Sections */
.seven, .eight {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.eight svg {
  position: absolute;
  width: 25px;
  z-index: -1;
}

.eight svg:nth-child(1) { fill: #bd6ecf; left: 5vw; top: 7vh; }
.eight svg:nth-child(2) { fill: #7dd175; left: 35vw; top: 23vh; }
.eight svg:nth-child(3) { fill: #349d8b; left: 23vw; top: 33vh; }
.eight svg:nth-child(4) { fill: #347a9d; left: 57vw; top: 43vh; }
.eight svg:nth-child(5) { fill: #c66053; left: 7vw; top: 68vh; }
.eight svg:nth-child(6) { fill: #bfaa40; left: 77vw; top: 42vh; }
.eight svg:nth-child(7) { fill: #e3bae8; left: 83vw; top: 68vh; }
.eight svg:nth-child(8) { fill: #8762cb; left: 37vw; top: 86vh; }
.eight svg:nth-child(9) { fill: #9a90da; left: 87vw; top: 94vh; }

/* Final Wishes */
.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 10px 0 0;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

/* Replay */
#replay {
  cursor: pointer;
  z-index: 3;
}

/* Responsive */
@media (max-height: 1000px) { .six .hat { left: 40%; } }
@media (max-height: 800px) { .six .hat { left: 37%; } }
@media (max-height: 700px) { .six .hat { left: 32%; } }
@media (max-height: 850px) and (max-width: 450px) { .six .hat { left: 32%; } }

@media (max-width: 500px) {
  .container { width: 90%; }
  .four .text-box { width: 90%; }
  .text-box .fake-btn { bottom: -38px; right: 5px; }
  .idea-5 span { display: block; }
  .idea-6 span { font-size: 10rem; }
  .six .hat { width: 50px; }
  .wish-hbd { font-size: 2.2em; }
  .wish h5 { font-size: 1.4rem; }
  .nine p { font-size: 1.5rem; }
}
